

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

}

.navbar-right {
    text-align: center;
    display: flex;
    padding-bottom: 5px;
    margin-top: 10px;
    padding-right: 15px;
}

#resume {
    padding-right: 15px;
    color: aliceblue;

}

#contact {
    padding-right: 15px;
    color: aliceblue;
}

#about {
    padding-right: 15px;
    color: aliceblue;
}

#resume, #contact, #about {
    border-radius: 40px;
    border: 1px solid aliceblue;
    padding: 5px 20px 5px 20px;
    color: white;
    margin: 5px;
}

#name {
    font-size: 20px;
    color: white;
    padding-left: 15px;
}

.images {
    align-items: center;
    width: 50%;
    margin-left: 25%;
    display: flex;
}

#block {
    line-break: normal;
}

#divider {
    background-color: black;;
    height: 3px;
}

#resume:hover,#contact:hover,#about:hover {
    color: gray;
}

.about-me {
    text-align: center;
}

footer{
    display: flex;
    height: 75px;
    background-color: black;
    color: black;
    justify-content: space-between;
    padding: 15px;
}

#footer-left {
    display: flex;
    text-align: center;
    margin-right: 15px;
    color: rgb(213, 222, 230);
}

.footer-right {
    display: flex;
    text-align: center;
    margin-left: 15px;
    color: rgb(213, 222, 230);
}
